/* CSS Reset */
*{
    margin:0;
    padding:0;
}

/* CSS Variables */
:root{
    --navbar-height:59px;

}


/* Navigation Bar */

#navbar{
    display: flex;
    align-items: center;
}

/* Navigation Bar :Logo and Image  */
#logo{
    margin: 25px 24px;

}

#logo img{
    width: 68px;
    height: 68px;
    padding: 8px 18px;
}


/* Navigation Bar :List and styling  */



